/* @charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:regular,500,700);

= tag reset =
body, ul, p, h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}

= common class =
.blind-b{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.blind-i{width: 1px;height: 1px;overflow: hidden;border: none;display: inline-block;margin: -1px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}

.area{width: 1360px;margin: 0 auto;border: 1px solid red;}

body{font-family: "Noto Sans KR";font-size: 16px;color: #333333;line-height: 1.5;}

.con_tit{letter-spacing: -0.7px; font-size: 50px; font-weight: bold;text-align: center;}
.c_sub_tit{letter-spacing: -0.7px; font-size: 30px; font-weight: bold;text-align: center;}
 */
@charset "utf-8";

/* index 공통 */
#header{position: fixed;top: 0;left: 0;width: 100%; z-index: 100;}

body{font-family: "Noto Sans KR";font-size: 16px;color: #333333;line-height: 1.5;}

.con_tit{letter-spacing: -0.7px; font-size: 50px; font-weight: bold;text-align: center;}
.c_sub_tit{letter-spacing: -0.7px; font-size: 30px; font-weight: bold;text-align: center;}

/* contents */
/* #mainSlider */
#mainSlider, #mainSlider .visual li{width: 100%;height: 790px;}
#mainSlider{position: relative;}
#mainSlider .visual li{background: no-repeat center top;color: #ffffff;text-align: center;line-height: 52px;}
#mainSlider .visual li:nth-child(1){background-image: url("../images/railpass/main1.jpg");}
#mainSlider .visual li:nth-child(2){background-image: url("../images/railpass/main2.jpg");}
#mainSlider .visual li:nth-child(3){background-image: url("../images/railpass/main3.jpg");}

.tit_p{display: block;margin-top: 208px;letter-spacing: -0.7px; font-weight: 200;}
.tit{display: block;padding-top: 21px; letter-spacing: -0.7px; font-size: 60px;
    font-weight: bold;}
.sub_tit{display: block; padding-top: 0; font-weight: 400;font-size: 50px;}
#mainSlider .visual li p{letter-spacing: -0.5px; padding-top: 10px;font-weight: 200; font-size: 18px; line-height: 28px;}

/* 제어 버튼들 : 스크립트에서 동적 생성 */
#mainSlider .bx-controls-direction a, #mainSlider .bx-controls-auto, #mainSlider .bx-pager{position: absolute;z-index: 100;}
/* 1) 이전 , 다음 */
#mainSlider .bx-controls-direction a{top: 312px;width: 54px;height: 53px;}
#mainSlider .bx-controls-direction .bx-prev{left: 20px;background: url("../images/railpass/icon/btn_prev.png");}
#mainSlider .bx-controls-direction .bx-next{right: 20px;background: url("../images/railpass/icon/btn_next.png");}

/* 2) play, stop */
#mainSlider .bx-controls-auto{top: 550px;left: calc(50% + 36.5px);}
#mainSlider .bx-controls-auto a{display: block;width: 27px;height: 27px;background: url("../images/railpass/icon/btn_pause_play.png") no-repeat;}
#mainSlider .bx-controls-auto .bx-start{background-position: right top;}
#mainSlider .bx-controls-auto .bx-stop{background-position: left top;}
#mainSlider .bx-controls-auto a.active{display: none;}/* 현재 동작중인 버튼이 .active라는 클래스명을 가짐 */

/* 3) 페이징 인디케이터 */
#mainSlider .bx-pager{top: 556px;left: calc(50% - 63.5px);width: 100px;height: 15px;}
#mainSlider .bx-pager div{float: left;width: 15px;margin-right: 10px;}
#mainSlider .bx-pager div a{display: block;height: 15px;border: 2px solid #fff;box-sizing: border-box;border-radius: 50%;}
#mainSlider .bx-pager div a.active{background: #ffffff;}
/* // slider end! */

/* #con1 : 내일로패스란? */
#con1{height: 702px; margin-top: 210px;
  background-image: url("../images/railpass/con1.jpg"); overflow: hidden; color: #ffffff;}
  
#con1 h2{padding-top: 393px; text-align: left;margin-left: 40px;}
#con1 p{display: block; margin-left: 40px; padding-top: 8px; letter-spacing: -0.7px;}
  
/* #con2 : 내일로패스란? */
#con2{height: 702px; margin-top: 210px; color: #333333; text-align: center;}

#con2 ul{ height: 400px;margin-top: 40px; text-align: center;} 
#con2 ul li{position: relative; float: left;margin-left: 145px; width: 301px;}
#con2 ul li+li{margin-left: 83px;}
#con2 li strong:hover{background-color: #50a7e5; }
#con2 .circle strong{display: table; letter-spacing: -0.7px; font-size: 32px;width: 301px; height: 301px;box-shadow: 8px 11.5px 50px 0 rgba(0, 0, 0, 0.2);  background-color: #eeeeee; border-radius: 50%;}
#con2 .circle strong span{display: table-cell;vertical-align:middle;}
#con2 ul p{display: block; margin-top: 62px; letter-spacing: -0.7px;font-size: 20px;}
   
#con2 ul li:nth-child(3)strong p{padding-top: 10px; }

/* #con3 : 내일로 이용안내 - 첫번째 tab*/

/* #mainTab */
/* 1) 탭 크기 지정 */
#mainTab{width: 1170px;height: 680px;margin: 100px auto;text-align: center;}
/* 2) 탭그룹의 높이와 하단 여백 */
#mainTab .tablist{height: 50px;margin-bottom: 30px;}
/* 3) 탭을 한줄에 위치, 스타일 */
#mainTab .tab{float: left;width: 380px;height: 50px;line-height: 48px;border: 1px solid #ccc;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: #f2f2f2;font-size: 18px;color: #000;}
#mainTab .tab + .tab{margin-left: 15px;}
/* 4) 탭버튼 활성화 - 오버, li.active (포커스는 제외) */
#mainTab .tab:hover, #mainTab .tab.active{background: #00326c;border-color: #00326c;color: #ffffff;cursor: pointer;}
/* 5) 탭패널 공통스타일 - 마지막 자식인 자세히보기링크를 absolute주기 위해, 모든 탭패널은 숨기고, .active를 가질 경우만 보이게 처리 */
#mainTab .tabpanel{position: relative;padding-bottom: 70px;display: none;color: #ffffff;}
#mainTab .tabpanel.active{display: block;}
#con3{position: relative; height: 752px; margin-top: 210px;color: #333333; text-align: center;}
#con3 .graybox_l, #con3 .graybox_r{position: absolute; float: left; width: 496px;height: 321px;
margin-top: 100px;
 border-radius: 15px;background-color: #f3f3f3;color:#333;}

#con3 .graybox_l{margin-left: 84px;}
#con3 .graybox_r{margin-left: 600px;}
  
#con3 .pinkbar, #con3 .bluebar{width: 424px;height: 74px;border-radius: 27px;
    line-height: 74px;margin-left: 34px;
    margin-top: -50px; font-size: 30px;color: #ffffff;}
    
#con3 .pinkbar{background-color: #ff98c7;}
#con3 .bluebar{background-color: #3bb6f2;}
#con3 .in_txt{margin-left: 110px; margin-top: 47px;font-size: 24px;text-align: left;}
#con3 .bo_txt{position: absolute; float: left; margin-left: 84px; margin-top: 450px;
font-size: 24px;text-align: left;color:#333333;}

.tab2_wrap{margin-top: 100px;}
.tab3_wrap{margin-top: 170px;}
.a_tit{margin-top: 100px; font-size: 30px;color:#333333;}
#tabpanel2 p, #tabpanel3 p{margin: 47px;font-size: 20px; color:#333333;}

/* con4 : 구매 및 좌석 지정방법 -tab2 */
#con4{height: 2000px; margin-top: 210px;color: #333333; text-align: center;}

/* #con4Tab */
/* 1) 탭 크기 지정 */
#con4Tab{width: 1360px;height: 680px;margin: 100px auto;text-align: center;position: relative; }
/* 2) 탭그룹의 높이와 하단 여백 */
#con4Tab .tablist{width: 1360px;height: 20px;
  margin-bottom: 30px;}
/* 3) 탭을 한줄에 위치, 스타일 */
#con4Tab .tab{float: left;width: 680px;height: 50px;line-height: 48px;border: 1px solid #ccc;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: #d4d4d4;font-size: 18px;color: #000;}
/* 4) 탭버튼 활성화 - 오버, li.active (포커스는 제외) */
#con4Tab .tab:hover,#con4Tab .tab.active{background: #50a7e5;border-color: #50a7e5; color: #ffffff;cursor: pointer;}
/* 5) 탭패널 공통스타일 - 마지막 자식인 자세히보기링크를 absolute주기 위해, 모든 탭패널은 숨기고, .active를 가질 경우만 보이게 처리 */
#con4Tab .tabpanel{position: relative;padding-bottom: 70px;display: none;color: #333333;}
#con4Tab .tabpanel.active{display: block;}

#con4Tab .bg{background:#f3f3f3 ;width: 1360px;height: 1731px;}

.app_txt{font-size: 28px;padding:60px 0; height: 84px;}
.app_txt p{font-size: 18px;}
.applist li{float: left;margin-left: 90px;margin-top: 60px;}
.applist li figcaption{font-size: 20px;margin-top: 17px;}
.applist li figure img{width: 338px;height: 581px;z-index: 999;}



/* con5 : 주의사항 */
#con5{ height: 323px;color: #333333;text-align: center;margin-top: 210px;}
#con5 .con5_txt{margin-top: 28px; text-align: left; padding: 40px 0 40px 100px; line-height: 60px; background:#f3f3f3;font-size: 20px}  

/* con6 : 문의처 */
#con6{margin-top: 210px;
 margin-bottom: 37px; color: #333333; text-align: center;}
#con6 .con6_txt, #con6 figure{float: left;margin: 37px 0;}
#con6 .con6_txt{ width:948px; height: 236px;  background:#f3f3f3; }
#con6 strong{display: block; padding-top:68px; padding-bottom: 26px; font-size: 30px;}
